.page {
    position: relative;
    background-color: #6F9672;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.body-t{
    position: absolute;
    bottom: -5vh;
    background-image: url('./img/tree.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.text-t{
    position: absolute;
    left: 50%;
    bottom: 15vh;
    transform: translateX(-50%);
    font-size: 1.5em;
    color: #615231;
}