.body-x{
    background-color: #6F9672;
    width: 100%;
    height: 100%;
    position: fixed;
    
}

.div-ct {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.div {
    height: .6em;
    width: 2.8em;
    background-color: rgb(200, 183, 145);
    border-radius: 999px;
}
.center-x{
    height: 70%;
    width: 88%;
    color: #A79571;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30pt;
    background-color: #F5F4D6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jiTime{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10%;
    width: 75%;
}
.jiName{
    margin-top: 3%;
    font-weight: bolder;
    width: 75%;
}

.input-x{
    padding: 10px;
    margin-top: 5%;
    width: 75%;
    height: 250px;
    border: dashed 1px black;
    background-color: #F5F4D6;
    font-size: 2em;
    resize: none;
    z-index: 1;
    color: #A79571;
}
.log{
    z-index: 0;
    position: absolute;
    width:40%;
    height: auto;
    right: 20px;
    bottom: 20px;
}

.submit {
    margin-top: 10%;
    width: fit-content;
    padding: 0 .5em;
    height: 2em;
    line-height: 2em;
    background-color: #6F9672;
    border-radius: 10%;
    color: white;
}
